#header{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #030303;
    color: #FFF;
    width: 150px;
    padding: 10px 10px 0 10px;
}
#music_header{
    position: fixed;
    top: 0;
    bottom: 20%;
    left: 0;
    right: 0;
    background-color: #030303;
    color: #FFF;
    padding: 10px 10px 0 10px;
}
#music_body{
    position: fixed;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #123456;
    color: #FFF;
    padding: 0 10px 0 16px;
    display:table;
}
#body{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 150px;
    right: 0;
    background-color: #123456;
    color: #FFF;
    padding: 0 10px 0 16px;
    overflow:auto;
    overflow-x:hidden;
}

#footer{
    position: fixed;
    height: 58px;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #272727;
    color: #FFF;
    padding: 0 10px 0 16px;
}


.margin-top-2{
    margin-top: 20px;
}
.margin-bottom-2{
    margin-bottom: 20px;
}


.css-message{ 
    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    position: relative; 
    height: 150px; 
    width: 600px; 
    background-color: #428BCA; 
    border-radius: 50px; 
    display: table-cell;
    vertical-align: middle;
    min-height:100px; 
    height:auto !important;
}
.css-message p {
    display: inline-block;
    margin-left: 20px;
    text-align: left;
}

.button_header {
    background-color:#030303;
    color: #999;
    padding: 5px;
    border:0;
    outline:none;
}
.button_header:hover {
    color:white;
    color: #FFF;
}
.area {
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -moz-text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    width: 150px;
    cursor: pointer;
}

.area:hover {
    white-space: normal;
}
.scr-box {

    width: 90%;
}
.scr{
    overflow:auto;
    width: 100%;
    max-height: 500px;
}
.music_box{
    position: fixed;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #123456;
    color: #FFF;
    padding: 0 10px 0 16px;

}
.music_box_cell{
    margin : 0 auto;
}
.table-check{
    width: 34px;
    height: 39px;
}
.table-data{
    width: 195px;
    height: 39px;
}